<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{store.list.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1">[[#{store.list.headline}]]</h1>
                <div>
                    <a th:href="@{/stores/add}" class="btn btn-primary ms-2">[[#{store.list.createNew}]]</a>
                </div>
            </div>
            <div th:if="${stores.empty}">[[#{store.list.empty}]]</div>
            <div th:if="${!stores.empty}" class="table-responsive">
                <table class="table table-striped table-hover align-middle">
                    <thead>
                        <tr>
                            <th scope="col">[[#{store.id.label}]]</th>
                            <th scope="col">[[#{store.name.label}]]</th>
                            <th scope="col">[[#{store.masterAddress.label}]]</th>
                            <th scope="col">[[#{store.deliveryAddress.label}]]</th>
                            <th><!-- --></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="store : ${stores}">
                            <td>[[${store.id}]]</td>
                            <td>[[${store.name}]]</td>
                            <td>[[${store.masterAddress}]]</td>
                            <td>[[${store.deliveryAddress}]]</td>
                            <td>
                                <div class="float-end text-nowrap">
                                    <a th:href="@{/stores/edit/{id}(id=${store.id})}" class="btn btn-sm btn-secondary">[[#{store.list.edit}]]</a>
                                    <form th:action="@{/stores/delete/{id}(id=${store.id})}"
                                            th:data-confirm-message="#{delete.confirm}" method="post" class="js-submit-confirm d-inline">
                                        <button type="submit" class="btn btn-sm btn-secondary">[[#{store.list.delete}]]</button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
